.main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__section_list {
    &--title {
      font-size: 3rem;
    }
    &--shipsList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3rem;
    }
  }
}

.li-ship {
  display: inline-block;
  padding: 1rem;
}

.h3-ship {
  font-size: 2rem;
}
.liColor {
  width: 5rem;
  height: 5rem;
}

.ul-ship {
  margin-top: 1rem;
  display: inline-flex;
  border: 3px solid gray;
  list-style-type: none;
}

.favourite{
  background-color: aquamarine;
}