.button{
  color: white;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.color-button{

  color: black;
  background-color:aqua;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 1rem;
}