<section class="section_first">
  <article class="section__article">
    <h2 class="section_first__article--title">Últimas novedades</h2>
    <p class="section__article--text">
      Les vamos presentar los estrenos en los cines de esta última semana, con
      una breve sipnosis de cada una de ellas, cines en los que se encuentran y
      opiniones de los usuarios.
    </p>
  </article>
  <article class="section_first__article">
    <h2 class="section_first__article--title">Peliculas peor valoradas</h2>
    <p class="section_first__article--text">
      Para que no pierdas tu tiempo ni dinero en ver algo que no merece la pena
      hemos hecho un listado con las peliculas peor valoradas de los usuarios,
      con las opiniones de éstos, luego tú decides si merece la pena ir y
      arriesgarse o dejarla para cuando la saquen en la tele.
    </p>
  </article>
  <article class="section_first__article">
    <h2 class="section_first__article--title">Prensa Rosa</h2>
    <p class="section_first__article--text">
      Cotilleos la vida personal de nuestros actores y directores favoritos,
      para que estés al día de todo lo referente a sus amorios y vida personal,
      no vaya a ser que te pierdas nada.
    </p>
  </article>
</section>
