
@mixin hover($color, $background_color){
 background-color: $color;
 color: $background_color;
 box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
 transform: translateY(-8px)  scale(1.1);
 transition: all 0.4s ease-in-out;
}