$color_green: #6c933e;
$color_green_light: #d9e4cc;
$color_grey: #4a4a4a;
$color_grey_brown: #626262;
$color_white: #fff;
$color_black: #000;
$media_tablet: 768px;
$media_desktop: 1024px;
$font_roboto: "Roboto", sans-serif;
$font_roboto_slab: "Roboto Slab", serif;
$weight_slab_bold: 700;
$weight_roboto_regular: 400;
$weight_roboto_medium: 500;

