
/* Desplazamos elementos respecto a su posicion original (*/
.div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 40px;
    padding: 30px;
}

.div-1{
    background-color: blueviolet;
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}
.div-2{
    background-color: blue;
    position: relative;
    margin-right: 150px;
    margin-bottom: 320px;
}
.div-3{
    background-color: greenyellow;
    position: relative;
    margin-left: 180px;
    margin-bottom: 240px;
}