@use "./core/reset";
@use "./core/variables";
@use "./layout/header";
@use "./layout/main";
@use "./layout/section/shopping_basket";
@use "./layout/section/list_of_t-shirts";
@use "./layout/footer";




