@use "./core/Variables" as var;
@use "./core/Mixins" as mix;

.section__hero {
  height: 100dvh;
  width: 100%;
  background-image: url("../images/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85% center; // Elegimos donde nos corta la imagen (eje horizontal y eje vertical)
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-inline: 3.4rem;
  color: var.$color_white;
  &--title {
    display: flex;
    max-width: 20ch;
    font-family: var.$font_roboto_slab;
    font-weight: var.$weight_slab_bold;
    font-size: 3rem;
    margin-bottom: 3rem;
    @media (min-width: var.$media_tablet) {
      font-size: 7.5rem;
    }
  }
  &--subtitle {
    font-family: var.$font_roboto;
    font-weight: var.$weight_roboto_regular;
    font-size: 1.6rem;
    @media (min-width: var.$media_tablet) {
      padding-inline: 18rem;
      font-size: 2.4rem;
    }
  }
  &--link {
    width: 3.8rem;
    height: 3.8rem;
    background-image: url("../images/ico-scroll-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var.$color_white;
    border-radius: 50%;
    padding: 2rem;
    margin-bottom: 15.8rem;
    margin-top: 3rem;
    @media (min-width: var.$media_tablet) {
      margin-bottom: 2rem;
    }
  }
}

.section__school {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  background-color: var.$color_green_light;
  justify-items: center;
  padding-top: 2.7rem;
  padding-bottom: 5rem;
  &--h3 {
    color: var.$color_grey_brown;
    font-size: 1.2rem;
    font-family: var.$font_roboto_slab;
    font-weight: var.$weight_slab_bold;
  }
  &--h2 {
    color: var.$color_black;
    font-size: 2rem;
    font-family: var.$font_roboto_slab;
    font-weight: var.$weight_slab_bold;
  }
  &--articles {
    display: grid;
    gap: 1rem;
    justify-items: center;
    text-align: center;
    @media (min-width: var.$media_tablet) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 13rem;
      padding-top: 2.2rem;
      padding-bottom: 2.2rem;
    }
    &--article {
      &--container {
        width: 11.4rem;
        height: 12.4rem;
        &--img {
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
        }
      }

      &--h3 {
        color: var.$color_black;
        font-size: 1.4rem;
        font-family: var.$font_roboto_slab;
        font-weight: var.$weight_slab_bold;
      }
    }
  }
  &--button {
    background-color: var.$color_green;
    color: var.$color_white;
    padding-block: 1rem;
    padding-inline: 2.4rem;
    width: 18.4rem;
    border-radius: 22.5px;
    border: none;
    font-size: 2rem;
    font-family: var.$font_roboto;
    font-weight: var.$weight_roboto_medium;
    text-decoration: none;
    &:hover {
      @include mix.hover(var.$color_white, var.$color_green);
    }
  }
}

.section__blank {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  @media (min-width: var.$media_desktop) {
    padding-inline: 17rem;
  }
  &--h3 {
    color: var.$color_green;
    font-family: var.$font_roboto;
    font-weight: var.$weight_roboto_regular;
    font-size: 1.4rem;
    @media (min-width: var.$media_tablet) {
      font-size: 1.6rem;
    }
  }
  &--h2 {
    color: var.$color_black;
    font-family: var.$font_roboto_slab;
    font-weight: var.$weight_slab_bold;
    font-size: 2.2rem;
    @media (min-width: var.$media_tablet) {
      font-size: 3.2rem;
    }
  }
  &--text {
    color: var.$color_grey;
    font-family: var.$font_roboto;
    font-weight: var.$weight_roboto_regular;
    font-size: 1.8rem;
    text-align: justify;
    @media (min-width: var.$media_tablet) {
      text-align: left;
    }
  }
  &--button {
    width: 16rem;
    background-color: var.$color_white;
    color: var.$color_green;
    font-family: var.$font_roboto;
    font-weight: var.$weight_roboto_medium;
    font-size: 2rem;
    border: 2px solid var.$color_green;
    border-radius: 22.5px;
    margin-top: 4rem;
    text-decoration: none;
    text-align: center;
    padding-block: 1rem;
    padding-inline: 2rem;
    &:hover {
      @include mix.hover(var.$color_green, var.$color_white);
    }
  }
}