.main {
  background-color: #e4e4e4;
  border: 2px solid #166cbd;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  &__title {
    color: #166cbd;
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    &--label {
      font-size: 2rem;
      font-weight: 600;
    }
    &--interaction {
      display: flex;
      gap: 1rem;
      &--select {
        padding: 0.5rem;
        border: 1px solid #166cbd;
      }
      &--button {
        padding-block: 0.5rem;
        padding-inline: 1rem;
        background-color: #166cbd;
        color: #fff;
        border-radius: 5px;
        border: 2px solid #114f88;
      }
      &--buttonReset {
        padding-block: 0.5rem;
        padding-inline: 1rem;
        background-color: #eaf735;
        color: #e91414;
        border-radius: 5px;
        border: 1px solid #e91414;
      }
    }
  }
  &__message {
    background-color: #166cbd;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  &__score {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.hidden {
  display: none;
}
