@use "../core/variables" as var;
.footer{
  width: 100%;
  border-top: 1px solid var.$color_text;
  margin-block: 2rem;
  padding-top: 2rem;
  &__span{
    padding-left: 1rem;
  }
  @media (min-width:480px){
    grid-area: footer;
     margin-left: 1rem;
  }
}