@use "../core/variables" as var;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-block: 4rem;
  border-bottom: 1px solid var.$color_text;
  @media (min-width:480px){
    grid-area: header;
    align-items: flex-start;
    padding-left: 2rem;
    margin-left: 1rem;
  }
  &__logo{
    width: 15rem;
    height: 7.5rem;
    background-image: url("../../../public/images/clapperboard.jpg");
    background-repeat: no repeat;
    background-size: cover;
  }
  &__title{
    font-size: 4rem;
    color: var.$color_title;
     @media (min-width:480px){
      font-size: 3rem;
     }
  }
}

