<section class="section">
  <article class="section__article--container-photo">
    <img
      src="/images/JenniferRoman.jpg"
      alt="Jennifer Román"
      class="section__article--container-photo-photo"
    />
  </article>
  <article class="section__article--container-links">
    <ul class="section__article--container-links-list">
      <li>Section 1</li>
      <li>Section 2</li>
      <li>Section 3</li>
      <li>Section 4</li>
      <li>Section 5</li>
    </ul>
    <ul class="section__article--container-links-list">
      <li>Section 1</li>
      <li>Section 2</li>
      <li>Section 3</li>
      <li>Section 4</li>
      <li>Section 5</li>
    </ul>
  </article>
  <article class="section__article--author">
    <h3 class="section__article--author--title">Jennifer</h3>
    <p class="section__article--author--text">
      La autora que se molesta en subvirnos toda esta info de nuestras
      pelicuilas favoritas desinteresadamente es una mujer de 42 años madrileña.
    </p>
  </article>
</section>
