.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
  & .flower {
    position: relative; // para que el botón close se posicione dentro
    z-index: 10; // encima del overlay
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 3rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

    // opcional: ampliarlo un pelín respecto a la tarjeta original
    transform: scale(1.05);
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;

    z-index: 20;
    color: #444;

    transition: 0.2s;

    &:hover {
      color: black;
      transform: scale(1.2);
    }
  }
}
