@use "../core/variables" as var;

.header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap:2rem;
padding: var.$padding_global;
width: 100%;
&__title{
  font-family: "Playwrite DE SAS", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}
&__subtitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var.$color_subtitle;
  text-align: center;
}
&__button{
  background-color: #0095f6;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover{
    background-color: #007bb5;
  }
}

}