*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 1fr;  /* 📱 móvil: una columna */
  grid-template-areas:
    "header"
    "post"
    "author"
    "footer";
  @media (min-width: 480px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header author"
      "post   author"
      "footer footer";
  }
  border-left: 35px solid grey;
}
