/*
.digit:not(:first-child){

  margin-left: 0.5rem;
}
*/

/*Esto añade el “:” solo a los .digit que tienen otro .digit antes. */
.digit + .digit::before{
  content: ":";
  padding-right: 0.2rem;
}



.session{
  position: fixed;
  top: 25dvh;
  bottom: 25dvh;
  right: 5vh;
  left: 5vh;
  border: 2px solid black;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}