.containerImgs {
  padding-top: 4rem;
  display: flex;
  gap: 2rem;
}

.containerImg {
  width: 15rem;
  height: 15rem;
}

.img {
  width: 100%;
  background-size: cover;
}


.autocompleted__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.board{
  background-color: black;
  color:white;
  width: 100%;
  border: 2px solid green;
  min-height: 4rem;
  font-family: "Caveat", cursive;
}

.select{
  margin-left: 1rem;
}