<main class="main">
  <form class="form" action="https://dev.adalab.es/api/form" method="post">
    <section class="form__data">
      <label for="name" class="form__data--label">Nombre</label>
      <input id="name" type="text" placeholder="Tu nombre" required/>
    </section>
    <section class="form__data">
      <label for="last name" class="form__data--label">Apellido</label>
      <input id="last name" type="text" placeholder="Tu apellido" />
    </section>
    <section class="form__data">
      <label for="email" class="form__data--label">Correo electronico</label>
      <input id="email" type="email" placeholder="Tu email" required />
    </section>
    <section class="form__data">
      <label for="street" class="form__data--label">Calle</label>
      <input id="street" type="text" placeholder="La calle donde vives" required/>
    </section>
    <section class="form__data">
      <label for="city" class="form__data--label">Ciudad</label>
      <input id="city" type="text" placeholder="La ciudad donde vives" value = "Madrid" required/>
    </section>
    <section class="form__data">
      <label for="province" class="form__data--label">Provincia</label>
      <input id="province" type="text" placeholder="La provincia donde vives" required/>
    </section>
    <section class="form__data">
      <label for="country" class="form__data--label">Pais</label>
      <input id="country" type="text" placeholder="El pais donde vives" value = "España" required/>
    </section>
    <section class="form__data">
      <label for="DNI" class="form__data--label">DNI</label>
      <input
        id="DNI"
        type="text"
        class="form__data--label"
        placeholder="Tú DNI"
        required
      />
    </section>
    <section class="form__data">
      <label for="phone" class="form__data--label">Teléfono</label>
      <input id="phone" type="tel" placeholder="Tú nº de teléfono" required/>
    </section>
    <section class="form__data">
      <label for="password" class="form__data--label">Contraseña</label>
      <input
        id="password"
        type="password"
        placeholder="Escribe tu contraseña"
        required
      />
    </section>
    <section class="form__data">
      <label for="password" class="form__data--label"
        >Confirmar contraseña</label
      >
      <input
        id="password"
        type="password"
        placeholder="Confirma tu contraseña"
        required
      />
    </section>
    <button class="form__button" type="submit" value="Enviar">Enviar</button>
  </form>
</main>
