.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: red;
    color: white;
    z-index: 20;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid white;
    gap: 0.5rem;
    &--title {
      font-size: 2.5rem;
      color: black;
      padding-block: 1rem;
    }
    &--year {
      font-weight: 700;
      font-size: 1.2rem;
    }
    &--desc {
      font-size: 1.2rem;
    }
    &--btn {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: black;
      color: red;
      border-radius: 3px;
      border: none;
      padding: 0.3rem;
    }
  }
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #dbdbdbc7;
}
