.success{
  border: 2px solid green;
  background-color: greenyellow;
  color: green;
}
.error{
  border: 2px solid red;
  background-color: #ff8d8d;
  color: red;
}
.warning{
  border: 2px solid #b0b000;
  background-color: #fdfd97;
  color: #b0b000;
}