
.section__list{
  padding: 2rem;
  &--subtitle{
    font-size: 2rem;
    color: #494949;
  }
  &--list{
    display: flex;
    gap:1.5rem;
    &--li{
      color: #494949;
      border: 2px solid #6cd6b6;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-inline: 1rem;
      padding-bottom: 1rem;
      margin-top: 1rem;
      &--div{
        width: 100%;
        height: auto;
        &--img{
        width: 100%;
        background-size: cover;
      }
      }
      &--btn{
        padding:0.5rem;
        background-color:  #6cd6b6;;
        color: white;
        border-radius: 4px;
        border:none;
      }

    }
  }
}